.Building {
    position: relative;
    text-align: center;
    bottom: 6vh;
    width: 393px;
    height: 851px;
    margin: auto;
}

h1 {
    position: relative;
    text-align: center;
    bottom: 6vh;
}

.Building-Middle {
    position: relative;
    margin: auto;
    display: flex;
    width: 393px;
    height: 255px;
    bottom: 3vh;
}

.Building-Middle img {
    width: 393px;
}

.Building-Middle-Btn {
    position: absolute;
    left: 45%;
}

.Building-Middle-Btn button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.Building-Middle-Btn img {
    position: absolute;
    width: 5vh;
    bottom: 25vh;
}

.Building-Middle2 {
    position: relative;
    margin: auto;
    display: flex;
    width: 393px;
    height: 255px;
    bottom: 3vh;
}

.Building-Middle2 > .Building-img {
    width: 393px;
    height: 200px;
    margin-bottom: 10px;
}

.Building-Middle2 .Building-img2 {
    width: 393px;
    height: 200px;
    margin-bottom: 10px;
}

.Building-Middle2 > .leftBtn {
    background-color: rgba(228, 228, 228, 0.397);
    border: none;
    border-radius: 20px;
    padding: 0;
    cursor: pointer;
    position: absolute;
    width: 5vh;
    top: 300px;
    left: 0px;
}

.Building-Middle2 > .rightBtn {
    background-color: rgba(228, 228, 228, 0.397);
    border: none;
    border-radius: 20px;
    padding: 0;
    cursor: pointer;
    position: absolute;
    width: 5vh;
    top: 300px;
    right: 0px;
}

.Building-Middle2 button:hover {
    transform: scale(1.1);
}

.Building-Bottom {
    position: relative;
    background-color: rgb(243, 243, 243);
    height: 20vh;
    top: 17vh;
}

.Building-Bottom > .Building-Bottom-Table {
    list-style: none;
    text-align: left;
    font-size: 25px;
    overflow-y: scroll;
}

.Building-Bottom-Table td {
    padding: 0.5vh;
}